html { height:100%; overflow-y: scroll; overflow-x:hidden; } 
body {
  color:#ede1e1;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to bottom, #6e529d 0%,#d97b93 100%);
  margin-left: 3%;

  table{
    width:  40% ;
    border: 3.5px solid black;
    margin-top: 20px;
  }
  
  th{
    border: 3.5px solid black;
    text-align: left;
  }

  div {
    h1{
      font-size: 45px;
    }
    word-wrap: break-word;
    width: 850px;
    font-size: 22px;
 }
 img{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
 }

}

a{
  color: #4bf299;
  font-size: 24px;
}

h1{
  font-size: 60px;
  font-style: italic;
  font-weight: bold;
}
h3,h2{
  font-style: italic;
  font-weight: bold;
}
h2{
  font-size: 30px;
}
h3{
  font-size: 27px;
}