body
{
    background-color: #269;
    background-image:
    linear-gradient(rgba(255,255,255,.5) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255,255,255,.5) 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.28) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.28) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    table{
        width:  60% ;
        border: 5px solid black;
        margin-top: 120px;
        margin-left: auto;
        margin-right: auto;
    }
    th {
        border: 4px solid black;
        height: 40px ;
        font-size: 25px;
    }
    td {
        padding: 10px;
        border: 3px solid black;
        height: 40px ;
        font-size: 20px;
    }
    h1,h2,h3,th,td,tr{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #FFFFFF;
    }
    a{
        color: #FFCF48 ;
        font-size: 23px;
    }
    h3,h1{
        font-style: italic;
        font-weight: bold;
    }
    
}